/* CSS BY Madi Estis*/

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
body {
    min-width: 400px;
    font-family: var(--font);
    background-color: var(--white);
}
h1 {
    color: var(--blue);
    font-weight: bold;
    font-size: 2em;
    position: relative;
    left: 3rem;
}
h2 {
    font-size: 1.9em;
    font-weight: bold;
    width: 95%;
    padding: 20px;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    width: 95%;
    padding: 10px 0;
}
p {
    line-height: 1.5rem;
    font-size: 1.05rem;
}
header {
    background-color: var(--black);
    width: 100%;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: var(--black);
}
nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    max-height: 0;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}
nav li a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--blue);
    transition: background-color .3s ease-in;
}
nav a:hover, nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    display: inline-block;
    padding: 2rem;
    user-select: none;
}
label span {
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
    left: 150px;
}
label span:before, label span:after {
    background-color: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: .75rem;
}
label span:after {
    top: -.75rem;
}
header input {
    display: none;
}
header input:checked ~ ul {
    max-height: 500px;
    max-width: 100%;
}
.about-innovation {
    background-color: var(--charcoal);
    color: var(--white);
    box-shadow: inset 0 5px 5px var(--blue);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.about-innovation h2 {
    backdrop-filter: blur(5px);
}
.about-innovation p {
    padding: 20px 0;
    backdrop-filter: blur(5px);
}
.about-innovation p ~ div {
    transition: 1s;
    backdrop-filter: blur(5px);
}
.about-innovation a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    padding: 15px;
    border-radius: 10px;
    transition: .5s ease-in;
    backdrop-filter: blur(5px);
}
.about-innovation a:hover {
    background-color: var(--red);
}
.about-innovation p ~ div:hover {
    transform: scale(1.1, 1.1);
}

.offer-inner-container {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    margin: 15px auto;
    transition: 1s;
}
.offer-inner-container:hover {
    transform: translate(0, -10px);
}
#results {
    background-color: var(--blue);
    color: var(--white);
}
.results-container {
    background-color: var(--blue);
    
}
#results-table {
    background-color: var(--black);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin: 20px auto;
}
#results-table > div {
    padding: 15px 0;
    text-align: center;
    border: 1px solid var(--charcoal);
}
.charcoal {
    background-color: var(--charcoal);
}
#contact {
    padding: 30px ;
}
form {
    width: 95%;
    justify-content: center;
    padding: 10px;
}
form input, form label, textarea {
    display: block;
    width: 100%;
}
form input, textarea {
    border: 3px inset var(--blue);
}
form label {
    margin: 10px auto;
}
form input{
    padding: 20px 0;
}
textarea {
    padding: 30px 0;
}
input[type="submit"] {
    background-color: var(--blue);
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.25rem;
    transition: 1s;
}
#contact, footer {
    background-color: var(--black);
    color: var(--white);
}
footer {
    text-align: center;
    padding: 40px 0;
}
footer a {
    color: var(--blue);
}
input[type="submit"]:hover {
    transform: scale(1.1, 1.1);
    background-color: var(--red);
}
/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
.about-innovation {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
header img {
    content: "";
    animation-name: logoMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    left:1rem;
    top: 20px;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}
@keyframes logoMovement {
    0% {top: 0;}
    50% {top: 30px;}
    100% {top: 0;}
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1.75rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: 1s;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}

/* MEDIA QUERIES (MEDIUM) */ 
@media (min-width: 800px) {
    nav ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav li a {
        display: inline-block;
    }
    .offer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .results-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* MEDIA QUERIES (LARGE) */
@media (min-width: 1024px) {
    .offer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}